extends layout

append head
  - var title = attributes.title

append bodyStart
  - var activeSection = 'blog'

block content
  h1= attributes.title
  p.date= attributes.date
  div
    !{body}

  ul.pagination
    li
      if previous
        a(href=previous.attributes.link, title=previous.attributes.title)
          i(class=['fa', 'fa-fw', 'fa-angle-double-left'])
          =' Previous'
      else
        span No Older Posts
    li
      a(href='./')
        i(class=['fa', 'fa-fw', 'fa-list-ul'])
        =' List'
    li
      if next
        a(href=next.attributes.link, title=next.attributes.title)
          i(class=['fa', 'fa-fw', 'fa-angle-double-right'])
          =' Next'
      else
        span No Newer Posts